[submodule "delta-green-server"]
	path = delta-green-server
	url = ssh://git@github.com:thunderkerrigan/delta-green-server.git
[submodule "delta-green-core"]
	path = delta-green-core
	url = ssh://git@github.com:thunderkerrigan/delta-green-core.git
[submodule "delta-green-front"]
	path = delta-green-front
	url = ssh://git@github.com:thunderkerrigan/delta-green-front.git